<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Erro valor inválido</title>
	<link rel="stylesheet" href="http://localhost:3001/style/bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost:3001/style/main.css" />
	<link rel="shortcut icon" type="imagem/x-icon" href="http://localhost:3001/img/favdol.ico" fill="#007bff" />

</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light nav">
			<img src="http://localhost:3001/img/dol.png" class="logo">
			<form class="form-inline my-2 my-lg-0" action="/" method="POST">
				<!-- <input id="input" name="qoute" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
				<button id="botao" class="btn btn-light" type="submit">Retornar</button>
			</form>
			</div>
		</nav>
	</header>
	<section class="secao">
		<div class="conteudo">
			<h1 class="negrito">Valor inválido</h1>
			<h2 class="negrito">Digite um símbolo de ação válido</h2>
		</div>
	</section>

</body>

</html>