{% extends 'index.html' %}

{% block title %}
  <title>Error</title>
{% endblock title %}

{% set pageId = "error" %}

{% block content %}

  <header>
    <img src="assets/dolar.svg" class="logo">
    <form class="" style="margin-right:40px;" action="/" method="GET">
      <button type="submit">Retornar</button>
    </form>
  </header>

  <section>
    <div class="container error">
      <div class="content">
        <h1>Error invalid symbol !!!</h1>
        <h2>Enter a valid symbol for success</h2>
      </div>
    </div>
  </section>

{% endblock content %}
