<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" type="imagem/x-icon" href="assets/dolar.svg" fill="#007bff"/>

    <link rel="stylesheet" href="/styles/style.css"/>
    {% block styles %}{% endblock styles %}
    <link rel="stylesheet" href="/styles/responsive.css"/>

    {% block title %}
      <title>Find your stock</title>
    {% endblock title %}
  </head>
  <body>
    {% block content %}
      {% include 'partials/header.html' %}
    {% endblock content %}

  </body>
</html>
