{% extends 'layout.html' %}

{% block styles %}{% endblock styles %}

{% block title %}
  <title>{{ stocks.companyName }}</title>
{% endblock title %}

{% set pageId = "main" %}

{% block content %}
  {% include 'partials/header.html' %}

  <section>
    <div class="container">
      <div class="content">
        <label class="text-uppercase negrito">{{stock.companyName}}</label>
      </div>
      <div class="content">
        <label class="negrito">Stock Price:</label>
        <label class="italico">$</label>
        <label class="italico">{{stocks.latestPrice}}</label>
      </div>
      <div class="content">
        <label class="negrito">Exchange:</label>
        <label class="italico">{{stocks.primaryExchange}}</label>
      </div>
      <div class="content">
        <label class="negrito">News:</label>
        <label class="italico">{{news[0].headline}}</label>
      </div>
    </div>
  </section>

{% endblock content %}
