{% extends 'index.html' %}

{% block styles %}{% endblock styles %}

{% block title %}
  <title>{{ stocks.companyName }}</title>
{% endblock title %}

{% set pageId = "main" %}

{% block content %}
  {% include 'partials/header.html' %}

  <section>
    <div class="container">
      <h1>{{stocks.companyName}}</h1>

      <div class="content">
        <strong >Stock Price:</strong>
        <span>$
          {{stocks.latestPrice}}
        </span>
      </div>
      <div class="content">
        <strong >Exchange:</strong>
        <span>{{stocks.primaryExchange}}</span>
      </div>
      <div class="content">
        <strong >News:</strong>
        <span class="news">{{news[0].headline}}</span>
      </div>
    </div>
  </section>

{% endblock content %}
